.App {
  text-align: center;
  margin-top: 3em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.normal-text{
  /* margin-top: 1em; */
  margin-bottom: 1em;
  opacity: .8;
  font-size: 1.3em;
  line-height: 1.6em;
  color:white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 1729 */
.container {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.connect-wallet-button {
  /* background: -webkit-linear-gradient(left, #FF387E, #711EFF,#3FE5FF); */
  background-image: url("https://assets.website-files.com/611580035ad59b20437eb024/616f998c4fdccc1e0de4e5a1_btn%20background%20(1).png");
  background-size: 100% 100%;
  animation: animate 4s ease-in-out infinite;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.styled-table{
  margin-top: 2em;
  position: relative;
  position: center;
  margin-left: 3em;
}
.styled-table thead tr {
  margin-top: 0.5em;
  position: relative;
  color: #ffffff;
  text-align: center;
 
}

.minus-text {
  font-size: 16px;
  color: white;
  margin: 15px;
  padding: 30px;
}

.select-file {
  background-image: url("https://assets.website-files.com/611580035ad59b20437eb024/616f998c4fdccc1e0de4e5a1_btn%20background%20(1).png");
  background-size: 100% 100%;
  animation: gradient-animation 4s ease infinite;
  height: 55px;
  border: 0;
  width: auto;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.styled-table th,
.styled-table td {
    padding: 10px 10px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #009879;
  text-align: center;

}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.sign-button {
  /* background: -webkit-linear-gradient(left, #FF387E, #711EFF,#3FE5FF); */
  background-image: url("https://assets.website-files.com/611580035ad59b20437eb024/616f998c4fdccc1e0de4e5a1_btn%20background%20(1).png");
  background-size: 100% 100%;
  animation: animate 4s ease-in-out infinite;
  position:relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left:0.5em;
}
.sign-buttonround {
  /* background: -webkit-linear-gradient(left, #FF387E, #711EFF,#3FE5FF); */
  background-image: url("https://assets.website-files.com/611580035ad59b20437eb024/616f998c4fdccc1e0de4e5a1_btn%20background%20(1).png");
  background-size: 100% 100%;
  animation: animate 4s ease-in-out infinite;
  position:relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left:0.5em;
  border-radius: 50%;
}
.cta-button {
  height: 45px;
  /* border: 0; */
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: black;

}
.cta-button2 {
  /* height: 50px; */
  cursor: pointer;
  padding: 20px;
  /* border: 0; */
  /* width: 100px; */
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  position: absolute;
  border-radius: 50%;
  margin-left:280px;
  margin-top: -220px;
}
body {
   background: #030A13;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.wrap-image-thumbnail-blog {
  margin-bottom: 2em;
}

.grid-3 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.image-thumbnail-blog {
  border: 1px solid #342a38;
  border-radius: 1em;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}
.h1-gradient {
  margin-top: 0;
  background-image: linear-gradient(131deg,#f6f063,#ff3873 35%,#711eff 61%,#3fe5ff 92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h1-gradient.font-size-3em {
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: 1.5em;
}
.h1-gradient.font-size-1em {
  margin-top: 2em;
  font-size: 1.4em;
  line-height: 1.2;
}
.h1-gradient.font-size-05em {
  font-size: 1em;
  line-height: 1.2;
  position:absolute;
  top: 132px;
  right: 65px;
}
.h1-gradient.font-size-05em {
  font-size: 1em;
  line-height: 1.2;
  position:absolute;
  /* top: 132px;
  right: 65px; */
}

.w-embed:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.blockwrap-sdk {
  position: relative;
  border: 1px solid #342a38;
  border-radius: 1em;
}
.overflow-hidden {
  overflow: hidden;
}
* {
  color: inherit;
}
* {
  color: inherit;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: .8;
  font-size: 1.3em;
  line-height: 1.6em;
  color:white;
}

.content-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}
.div-container.relative {
  position: relative;
}
.div-container {
  width: 95%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20vw;
  padding-left: 20vw;
  position: absolute;
}
.header-bg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
.header-bg.blobs {
  opacity: .2;
  mix-blend-mode: color-dodge;
}
.wraper-padding-bug {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #080F18;
  /* background-color: #080F18; */
}
.margin-center {
  margin-right: auto;
  margin-left: auto;
}
.max-width-60ch {
  max-width: 60ch;
}
.wrapper-btn.wrap-btn-big {
  font-size: 1.3em;
}
.wrapper-btn {
  position: relative;
  text-decoration: none;
}
.logo-wrapper-bug-bounty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
}
.immunef-logo.drift-logo {
  width: auto;
  height: 2.2em;
  margin-right: 0.5em;
  margin-bottom: 2em;
  padding-right: 1em;
}
.star {
  width: auto;
  height: auto;
  margin-right: 0.5em;
  margin-bottom: 1em;
  
}
.immunef-logo.solana-logo {
  width: 11em;
  height: 2.2em;
  margin-right: 0.75em;
  margin-bottom: 2em;
  padding-left: 1.5em;
}
.immunef-logo {
  width: auto;
  margin-top: 2em;
}

.w-embed:after{
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
svg:not(:root) {
  overflow: hidden;
}





